.mi21Container {
  width: 100%;
  height:min-content;
  position: relative;
  box-sizing: border-box;
  border-top: 0px;
}


.mi21Container img {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  object-fit: contain;
}

.double {
  position: absolute;
}

.gc21PhotoOverlays {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color:  var(--overLay);
  height: 100%;
  width: 100%;
  justify-content: center;
}

.gc21PhotoOverlayStats {
  font-size: 24px;
  font-weight: 800;
  color: var(--logo);
  display: flex;
}
.gc21PhotoOverlayStats .fa::before {
  margin-right: 6px;
  color: var(--red) !important;
}

.double {
  animation: doubleclick 1.5s linear;
}

@keyframes doubleclick {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
